*

!.gitignore
!LICENSE
!README.md

!.clang-format
!fmt.py
!src_test.cpp

!notes
!notes/divisibility.md
!notes/identity.md

!src
!src/.clangd
!src/macro
!src/macro/*
!src/alias
!src/alias/*
!src/type-trait
!src/type-trait/*

!src/include
!src/include/*

!src/io
!src/io/int128
!src/io/int128/*
!src/io/range
!src/io/range/*
!src/io/tuple
!src/io/tuple/*

!src/math
!src/math/integral
!src/math/integral/arithmetic-function
!src/math/integral/arithmetic-function/divisor.hpp
!src/math/integral/arithmetic-function/euler_totient.hpp
!src/math/integral/arithmetic-function/prime_omega.hpp
!src/math/integral/basic-operation
!src/math/integral/basic-operation/**
!src/math/integral/sieve
!src/math/integral/sieve/**
!src/math/operator
!src/math/operator/**

!src/misc
!src/misc/md_array_vector.hpp
!src/misc/integer_sequence.hpp
