*

!.gitignore
!LICENSE
!README.md

!.clang-format
!fmt.py

!notes
!notes/divisibility.md
!notes/identity.md

!src
!src/.clangd

!src/test
!src/test/*.cpp

!src/include
!src/include/*

!src/fundamental
!src/fundamental/**

!src/lib
!src/lib/io
!src/lib/io/int128
!src/lib/io/int128/*
!src/lib/io/range
!src/lib/io/range/*
!src/lib/io/tuple
!src/lib/io/tuple/*

!src/lib/math
!src/lib/math/integral
!src/lib/math/integral/arithmetic_function
!src/lib/math/integral/arithmetic_function/divisor.hpp
!src/lib/math/integral/arithmetic_function/euler_totient.hpp
!src/lib/math/integral/arithmetic_function/prime_omega.hpp
!src/lib/math/integral/basic_operation
!src/lib/math/integral/basic_operation/**
!src/lib/math/integral/sieve
!src/lib/math/integral/sieve/**

!src/lib/math/operator
!src/lib/math/operator/**

!src/lib/misc
!src/lib/misc/md_array_vector.hpp
