*

!.gitignore
!LICENSE
!README.md

!.clang-format
!fmt.py

!notes
!notes/divisibility.md
!notes/identities.md

!src
!src/.clangd
!src/aliases
!src/aliases/*
!src/io
!src/io/int128
!src/io/int128/*
!src/io/range
!src/io/range/*
!src/io/tuple
!src/io/tuple/*
!src/math
!src/math/arithmetic-functions
!src/math/arithmetic-functions/divisor.hpp
!src/math/arithmetic-functions/euler_totient.hpp
!src/math/arithmetic-functions/prime_omega.hpp
!src/math/int-ops
!src/math/int-ops/**
!src/math/modint
!src/math/modint/modint.md
!src/math/operator
!src/math/operator/**
!src/math/sieve
!src/math/sieve/**
!src/misc
!src/misc/md-array-vector
!src/misc/md-array-vector/*
!src/misc/integer_sequence.hpp
!src/type-traits
!src/type-traits/*
