CompileFlags:
  Add: [
    -std=c++20,
    -Werror,
    -Wpedantic,
    -Wall,
    -Wextra,
    -Wconversion,
    -Wshadow,
    -Wuninitialized,
    -Wcast-align,
    -Wfloat-equal,
    -Wformat=2
  ]
